---
const PAGES = [
  { route: "", title: "home" },
  { route: "books", title: "books" },
  { route: "movies", title: "movies" },
  { route: "music", title: "music" },
];
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="samkoccinos" />
    <meta
      property="og:description"
      content="website for the samkoccinos that contains information mainly relevant for the samkoccinos"
    />
    <meta
      property="og:image"
      content="/favicon.png"
    />
    <title>{title}</title>
  </head>
  <body>
    <header>
      {PAGES.map(({ route, title }) => <a href={`/${route}`}>{title}</a>)}
    </header>
    <main>
      <h1 id="title">{title}</h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: Athelas, system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
  }
  span {
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  main,
  header {
    padding: 20px 20px 0 20px;
  }
  header {
    display: flex;
    gap: 16px;
  }
  ul {
    margin-top: 0;
  }
</style>
