---
import "../styles/styles.css";

const PAGES = [
  { route: "", title: "home" },
  { route: "books", title: "books" },
  { route: "movies", title: "movies" },
  { route: "music", title: "music" },
  { route: "nights", title: "nights" },
  { route: "tools", title: "tools" },
];
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="samkoccinos" />
    <meta property="og:description" content="website for the samkoccinos" />
    <meta property="og:image" content="/apple-touch-icon.png" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      {PAGES.map(({ route, title }) => <a href={`/${route}`}>{title}</a>)}
    </header>
    <main>
      <h1 id="title">{title}</h1>
      <slot />
    </main>
  </body>
</html>
